@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --prim-color : #A8FF2F
}

body{
  margin: 0;
  padding: 0;
  background: #1E1E25;
}

@font-face{
  font-family: 'round';
  src:url("../fonts/rd.otf") format("opentype")
}

@font-face{
  font-family: 'sachabo';
  src:url("../fonts/sh.otf") format("opentype")
}

.round{
  font-family: 'round',sans-serif;
}

.sachabo{
  font-family: 'sachabo',sans-serif;
}
.anim{
  transition: 0.3s ease-in-out;
}
.anim:hover{
  scale: 1.1;
}